body {
    background-color: antiquewhite;
    margin: 0px 0px;
}

header {
    background-color: darkslategray;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
}

header li {
    display: inline-block;
    font-family: Anton, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    color: antiquewhite;
    text-transform: uppercase;
    padding: 10px;
}

main {
    margin: 100px 10px;
}


.headline {
    text-align: center;
}

h1 {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    color: darkslategray;
}

.tags {
   width: 100%;
}

h2 {
    text-align: center;
    font-family: "Josefin Sans";
    
}

table {
    margin: 0px auto;
    width: 600px;
    background-color: lightgrey;
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 5px;
}

th {
    text-align: left;
    padding: 7px;
    background-color: gray;
    color: antiquewhite;
    font-family: "Josefin Sans";
    text-transform: uppercase;
    font-size: 14px;
}

td {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;}

span {
    background-color: antiquewhite;
}
